group tests
    source https://www.nuget.org/api/v2/

    nuget NUnit framework: >= net45
    nuget NUnit.Runners

group build
    source https://www.nuget.org/api/v2/

    nuget FAKE
    nuget SourceLink.Fake
    github fsharp/FAKE modules/Octokit/Octokit.fsx